$grid: 12;
$gutter : 15px;
$base: #7726D9;
$sBase: #A511BF;
$open: 'Open Sans', sans-serif;
$four: 'LatinotypeTrendSansFour', sans-serif;
 
// breakpoints
$xsmall: "only screen and (min-width: 0px)";
$small: "only screen and (min-width: 576px)";
$medium: "only screen and (min-width: 768px)";
$large: "only screen and (min-width: 992px)";
$xlarge: "only screen and (min-width: 1200px)";
$largeR: "only screen and (max-width: 1199px)";
$mobtab: "only screen and (max-width: 991px)";
$mobp: "only screen and (max-width: 575px)";
$mob: "only screen and (max-width: 767px)";

// breakpoints maximum width
$xsmall-mw: 100%;
$small-mw: 540px;
$medium-mw: 720px;
$large-mw: 960px;
$xlarge-mw: 1140px;